<html>
    <head>
        <title>Kaunas PHP</title>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    </head>
    <body ng-app="xo">
        <div class="container" ng-controller="game">
            <h1>Kaunas PHP</h1>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label>Player for X symbol</label>
                        <select ng-model="players.X" class="form-control">
                            <option value="Me">Me</option>
                            {% for name in players %}
                                <option value="{{ name }}">{{ name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label>Player for O symbol</label>
                        <select ng-model="players.O" class="form-control">
                            {% for name in players %}
                                <option value="{{ name }}">{{ name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div ng-if="score.c">{{ "{{ score.c }}" }} battle</div>
            <div class="progress">
                <div class="progress-bar progress-bar-success" style="width: {{ "{{ score.wp }}" }}%">
                    {{ "{{ score.wp }}" }}% {{ "{{ scope.players.X }}" }}
                </div>
                <!--<div class="progress-bar progress-bar-warning" style="width: {{ "{{ score.dp }}" }}%">
                    {{ "{{ score.dp }}" }}% (Draw)
                </div> -->
                <div class="progress-bar progress-bar-info" style="width: {{ "{{ score.lp }}" }}%">
                    {{ "{{ score.lp }}" }}% {{ "{{ scope.players.X }}" }}
                </div>
            </div>
            <hr/>
            <div class="alert alert-success" ng-if="winner && scope.players.X == 'Me'">
                Winner: {{ "{{ winner }}" }}
            </div>
            <table class="table table-bordered">
                <tr ng-repeat="(rowIndex, row) in table track by $index">
                    <td ng-repeat="(colIndex, col) in row track by $index" class="text-center" ng-click="setItem(rowIndex, colIndex)">
                        <span ng-class="itemClass(col)"></span>
                    </td>
                </tr>
            </table>
            <button class="btn-default btn-lg" ng-click="reset()">Reset</button>
            <button class="btn-primary btn-lg" ng-click="send()">Submit</button>
            <button ng-if="!uiTest"class="btn-primary btn-lg" ng-click="autoPlay(true)">UI test</button>
            <button ng-if="uiTest" class="btn-primary btn-lg" ng-click="stopAutoPlay()">Stop UI test</button>
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
        <script src="xo.js"></script>
    </body>
</html>